<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.dao.mapper.CartMapper">

    	<resultMap id="CartMap" type="com.entity.Cart">
			<result column="cart_id" jdbcType="INTEGER" property="cartId" />
			<result column="shop_id" jdbcType="INTEGER" property="shopId" />
			<result column="pro_id" jdbcType="INTEGER" property="proId" />
			<result column="user_id" jdbcType="INTEGER" property="userId" />
			<result column="pro_num" jdbcType="INTEGER" property="proNum" />
			<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		 </resultMap>
		 
		 <select id="findCartByUserId" resultMap="CartMap">
    		SELECT * FROM cart WHERE user_id = #{userId} ORDER BY update_time DESC
    	 </select>
    	 
    	 <!-- 添加1条购物车记录 -->
    	 <insert id="addCart" parameterType="Cart" useGeneratedKeys="true" keyProperty="cart_id">
			INSERT INTO cart(shop_id,pro_id,user_id,pro_num,update_time)
			VALUES(#{shopId},#{proId},#{userId},#{proNum},now())
		</insert>
		
		<!-- UPDATE cart SET shop_id=#{shopId},user_id=#{userId},pro_num=#{proNum}
			WHERE cart_id=#{cartId} -->
		<update id="updateCart" parameterType="Cart">
			UPDATE cart SET pro_num=#{proNum},update_time=now()
			WHERE cart_id=#{cartId}
		</update>
		
		<delete id="deleteCart">
			DELETE FROM cart WHERE cart_id=#{cartId}
		</delete>
		
		<delete id="deleteCartByIds" parameterType = "java.util.Arrays">
			<![CDATA[delete from cart where cart_id in ]]>  
	        <foreach collection="array" index="index" item = "item" open="(" separator="," close=")">
	        #{item}
	        </foreach>  
		</delete>
		
		<select id="findCartByProIdAndUserId" parameterType="Map" resultMap="CartMap">
    		SELECT *
    		FROM cart
    		WHERE pro_id = #{proId} AND user_id = #{userId} ORDER BY update_time DESC
    	 </select>

    </mapper>