<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.dao.mapper.CommentMapper">
    	<resultMap id="CommentMap" type="com.entity.Comment">
			<result column="comment_id" jdbcType="INTEGER" property="commentId" />
			<result column="shop_id" jdbcType="INTEGER" property="shopId" />
			<result column="pro_id" jdbcType="INTEGER" property="proId" />
			<result column="user_id" jdbcType="INTEGER" property="userId" />
			<result column="description" jdbcType="VARCHAR" property="description" />
			<result column="rate" jdbcType="DOUBLE" property="rate" />
			<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		 </resultMap>
		 
		 <select id="findCommentByProId" resultMap="CommentMap">
    		SELECT * FROM comment WHERE pro_id = #{proId}
    	 </select>
    	 
    	 <insert id="addComment" parameterType="Comment" useGeneratedKeys="true" keyProperty="comment_id">
			INSERT INTO comment(shop_id,pro_id,user_id,description,rate,create_time)
			VALUES(#{shopId},#{proId},#{userId},#{description},#{rate},#{createTime})
		</insert>
		
		<delete id="deleteComment">
			DELETE FROM comment WHERE comment_id=#{commentId}
		</delete>

    </mapper>