<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.dao.mapper.OrderMapper">

    	<resultMap id="OrderMap" type="com.entity.Order">
			<result column="order_id" jdbcType="INTEGER" property="orderId" />
			<result column="order_num" jdbcType="BIGINT" property="orderNum" />
			<result column="shop_id" jdbcType="INTEGER" property="shopId" />
			<result column="user_id" jdbcType="INTEGER" property="userId" />
			<result column="pro_id" jdbcType="INTEGER" property="proId" />
			<result column="pro_num" jdbcType="INTEGER" property="proNum" />
			<result column="price" jdbcType="DOUBLE" property="price" />
			<result column="address_id" jdbcType="INTEGER" property="addressId" />
			<result column="comment_status" jdbcType="INTEGER" property="commentStatus" />
			<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
			<result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
			<result column="deliver_time" jdbcType="TIMESTAMP" property="deliverTime" />
			<result column="deal_time" jdbcType="TIMESTAMP" property="dealTime" />
		 </resultMap>
		 
		 <select id="findOrderByUserId" resultMap="OrderMap">
    		SELECT * FROM orders WHERE user_id = #{userId} ORDER BY create_time DESC
    	 </select>
    	 
    	 <select id="findOrderByShopId" resultMap="OrderMap">
    		SELECT * FROM orders WHERE shop_id = #{shopId} ORDER BY create_time DESC
    	 </select>
    	 
    	 <select id="findOrderByOrderNum" resultMap="OrderMap">
    		SELECT * FROM orders WHERE order_num = #{orderNum}
    	 </select>
    	 
    	 <insert id="addOrder" parameterType="Order" useGeneratedKeys="true" keyProperty="order_id">
			INSERT INTO orders(order_num,shop_id,pro_id,user_id,pro_num,price,address_id,comment_status,create_time,pay_time,deliver_time,deal_time)
			VALUES(#{orderNum},#{shopId},#{proId},#{userId},#{proNum},#{price},#{addressId},#{commentStatus},#{createTime},#{payTime},#{deliverTime},#{dealTime})
		</insert>
		
		<delete id="deleteOrder">
			DELETE FROM orders WHERE order_id=#{orderId}
		</delete>
		
		<update id="updateOrderCommentStatus" parameterType="Order">
			UPDATE orders SET comment_status = #{commentStatus}, pay_time = #{payTime}, deliver_time = #{deliverTime}, deal_time = #{dealTime}
			WHERE order_id=#{orderId}
		</update>
		
		<update id="updateCommentStatusByOrderNum" parameterType="Order">
			UPDATE orders SET comment_status = #{commentStatus}, pay_time = #{payTime}, deliver_time = #{deliverTime}, deal_time = #{dealTime}
			WHERE order_num=#{orderNum}
		</update>
		
		<select id="findOrderByUserIdAndStatus" parameterType="Map" resultMap="OrderMap">
    		SELECT *
    		FROM orders
    		WHERE user_id = #{userId} AND comment_status = #{commentStatus} ORDER BY create_time DESC
    	</select>
    	
    	<select id="findOrderByShopIdAndStatus" parameterType="Map" resultMap="OrderMap">
    		SELECT *
    		FROM orders
    		WHERE shop_id = #{shopId} AND comment_status = #{commentStatus} ORDER BY create_time DESC
    	</select>

    </mapper>