<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.dao.mapper.OrderMapper">

    	<resultMap id="OrderMap" type="com.entity.Order">
			<result column="order_id" jdbcType="INTEGER" property="orderId" />
			<result column="shop_id" jdbcType="INTEGER" property="shopId" />
			<result column="user_id" jdbcType="INTEGER" property="userId" />
			<result column="pro_id" jdbcType="INTEGER" property="proId" />
			<result column="pro_num" jdbcType="INTEGER" property="proNum" />
			<result column="address_id" jdbcType="INTEGER" property="addressId" />
			<result column="comment_status" jdbcType="INTEGER" property="commentStatus" />
			<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
			<result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
			<result column="deliver_time" jdbcType="TIMESTAMP" property="deliverTime" />
			<result column="deal_time" jdbcType="TIMESTAMP" property="dealTime" />
		 </resultMap>
		 
		 <select id="findOrderByUserId" resultMap="OrderMap">
    		SELECT * FROM order WHERE user_id = #{userId}
    	 </select>
    	 
    	 <insert id="addOrder" parameterType="Order" useGeneratedKeys="true" keyProperty="order_id">
			INSERT INTO cart(shop_id,pro_id,user_id,pro_num,address_id,comment_status,create_time,pay_time,deliver_time,deal_time)
			VALUES(#{shopId},#{proId},#{userId},#{proNum},#{addressId},#{commentStatus},#{createTime},#{payTime},#{deliverTime},#{dealTime})
		</insert>
		
		<delete id="deleteOrder">
			DELETE FROM order WHERE order_id=#{orderId}
		</delete>

    </mapper>