<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.dao.mapper.ProductMapper">
		
		 <resultMap id="ProductMap" type="com.entity.Product">
			<result column="pro_id" jdbcType="INTEGER" property="proId" />
			<result column="pro_name" jdbcType="VARCHAR" property="proName" />
			<result column="img_id" jdbcType="INTEGER" property="imgId" />
			<result column="description" jdbcType="VARCHAR" property="description" />
			<result column="price" jdbcType="DOUBLE" property="price" />
			<result column="scan_num" jdbcType="INTEGER" property="scanNum" />
			<result column="category" jdbcType="INTEGER" property="category" />
			<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
			<result column="pro_status" jdbcType="INTEGER" property="proStatus" />
			<result column="pro_num" jdbcType="INTEGER" property="proNum" />
			<result column="shop_id" jdbcType="INTEGER" property="shopId" />
		 </resultMap>
		 
		 <!-- 根据图片Id获取图片 -->
		  <select id="getImgById" resultType="Product">
		    SELECT i.*
		    FROM img i
		    where i.img_id=#{imgId}
		  </select>
		
		  <!-- 添加商品 -->
		  <insert id="addProduct"  parameterType="Product" useGeneratedKeys="true" keyProperty="pro_id">
		    INSERT INTO product(pro_name,img_id,description,price,scan_num,category,update_time,pro_status,pro_num,shop_id)
		    VALUES(#{proName},#{imgId},#{description},#{price},#{scanNum},#{category},#{updateTime},#{proStatus},#{proNum},#{shopId})
		  </insert>
		  
		  <!-- 修改商品信息 -->
		  <update id="updateProduct" parameterType="Product">
			UPDATE product SET pro_name=#{proName},img_id=#{imgId},description=#{description},price=#{price},scan_num=#{scanNum},category=#{category},update_time=#{updateTime},pro_status=#{proStatus},pro_num=#{proNum}
			WHERE pro_id=#{proId}
		  </update>
		  
		  <!-- 更改商品状态，下架商品 -->
		  <update id="updateProductStatus" parameterType="Integer">
			UPDATE product SET pro_status=0
			WHERE pro_id=#{proId}
		  </update>
		  
		  <!-- 更改商品浏览次数，每点击商品1次则更新 -->
		  <update id="updateProductScanNum" parameterType="Integer">
			UPDATE product SET scan_num=scan_num + 1
			WHERE pro_id=#{proId}
		  </update>
		  
		  <!-- 删除商品 -->
		  <delete id="deleteProduct">
			DELETE FROM product WHERE pro_id=#{proId}
		  </delete>
		
		  <!-- 查询该店铺的所有商品 -->
		  <select id="findProductByShopId" parameterType="int" resultMap="ProductMap">
    		SELECT *
    		FROM product
    		WHERE shop_id = #{shopId}
    	  </select>
    	  
    	  <!-- 查询该店铺的未失效的商品 -->
		  <select id="findActiveProductByShopId" parameterType="int" resultMap="ProductMap">
    		SELECT *
    		FROM product
    		WHERE shop_id = #{shopId} AND pro_status = 1
    	  </select>
    	  
    	  <!-- 根据店铺id和商品id查询商品信息，有点多余了，可直接使用根据商品id进行查询 -->
    	  <select id="findProductByShopIdAndProId" parameterType="Map" resultMap="ProductMap">
    		SELECT *
    		FROM product
    		WHERE shop_id = #{shopId} AND pro_id = #{proId}
    	  </select>
    	  
    	  <!-- 根据商品id查询商品信息 --> 
    	  <select id="findProductByProId" parameterType="int" resultMap="ProductMap">
    		SELECT *
    		FROM product
    		WHERE pro_id = #{proId}
    	  </select>
    	  
    	  <!-- 搜索所有的商品 -->
    	  <select id="searchProduct" parameterType="String" resultMap="ProductMap">
    		SELECT *
    		FROM product
    		WHERE pro_name LIKE #{proName} ORDER BY scan_num DESC
    	  </select>
    	  
    	  <!-- 搜索店铺内的商品 -->
    	  <select id="searchShopProduct" parameterType="Map" resultMap="ProductMap">
    		SELECT *
    		FROM product
    		WHERE pro_name LIKE #{proName} AND shop_id = #{shopId}
    	  </select>
    	  
    	  <!-- 搜索店铺内未失效的商品 -->
    	  <select id="searchShopActiveProduct" parameterType="Map" resultMap="ProductMap">
    		SELECT *
    		FROM product
    		WHERE pro_name LIKE #{proName} AND shop_id = #{shopId} AND pro_status = 1
    	  </select>
		

    </mapper>