<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.dao.mapper.SellerMapper">
    
    	<resultMap id="SellerMap" type="com.entity.Seller">
			<result column="seller_id" jdbcType="INTEGER" property="sellerId" />
			<result column="seller_name" jdbcType="VARCHAR" property="sellerName" />
			<result column="telphone" jdbcType="INTEGER" property="telphone" />
			<result column="password" jdbcType="VARCHAR" property="password" />
			<result column="email" jdbcType="VARCHAR" property="email" />
			<result column="avatar" jdbcType="INTEGER" property="avatar" />
		 </resultMap>

    	<select id="findSellerByNameAndPassword" parameterType="Seller" resultMap="SellerMap">
    		SELECT *
    		FROM seller
    		WHERE seller_name = #{sellerName} AND password = #{password}
    	</select>
    	
    	<select id="findAllSeller" resultMap="SellerMap">
    		SELECT * FROM seller ORDER BY seller_id DESC
    	</select>
    	
    	<insert id="addSeller" parameterType="Seller" useGeneratedKeys="true" keyProperty="seller_id">
			INSERT INTO seller(seller_name,password,telphone,email,avatar)
			VALUES(#{sellerName},#{password},#{telphone},#{email},#{avatar})
		</insert>
		
		<update id="updateSellerById" parameterType="Seller">
			UPDATE seller SET seller_name=#{sellerName},password=#{password},email=#{email},avatar=#{avatar},telphone=#{telphone}
			WHERE seller_id=#{sellerId}
		</update>
		
		<delete id="deleteSeller">
			DELETE FROM seller WHERE seller_id=#{sellerId}
		</delete>
		
		<select id="findSellerBySellerId" parameterType="Integer" resultMap="SellerMap">
    		SELECT * FROM seller
    		WHERE seller_id = #{sellerId}
    	</select>

    </mapper>