<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.dao.mapper.UserMapper">
    
    	 <resultMap id="UserMap" type="com.entity.User">
			<result column="user_id" jdbcType="INTEGER" property="userId" />
			<result column="user_name" jdbcType="VARCHAR" property="userName" />
			<result column="telphone" jdbcType="INTEGER" property="telphone" />
			<result column="password" jdbcType="VARCHAR" property="password" />
			<result column="email" jdbcType="VARCHAR" property="email" />
			<result column="avatar" jdbcType="VARCHAR" property="avatar" />
			<result column="img_id" jdbcType="INTEGER" property="imgId" />
		 </resultMap>

    	<select id="findUserByNameAndPassword" parameterType="User" resultMap="UserMap">
    		SELECT *
    		FROM user
    		WHERE user_name = #{userName} AND password = #{password}
    	</select>
    	
    	<select id="findUserByTelphone" parameterType="Integer" resultType="int">
    		<!-- SELECT user_id userId,user_name userName,password,email,avatar,role -->
    		SELECT COUNT(*)
    		FROM user
    		WHERE telphone = #{telphone}
    	</select>
    	
    	<insert id="addUser" parameterType="User" useGeneratedKeys="true" keyProperty="user_id">
			INSERT INTO user(user_name,password,telphone,email,avatar,role)
			VALUES(#{userName},#{password},#{telphone},#{email},'/resource/images/avatar-default.gif',1)
		</insert>
		
		<select id="findUserByName" parameterType="String" resultMap="UserMap">
    		SELECT *
    		FROM user
    		WHERE user_name = #{userName}
    	</select>
		
		<!-- <select id="findUserByName" parameterType="String" resultType="User">
    		SELECT user_id userId,user_name userName,password,email,avatar,role
    		SELECT user_id userId,user_name userName,password,email,avatar,role,telphone
    		FROM user
    		WHERE user_name = #{userName}
    	</select> -->
    	
    	<update id="updateUserById" parameterType="User">
			UPDATE user SET user_name=#{userName},password=#{password},email=#{email},role=#{role},telphone=#{telphone},img_id=#{imgId}
			WHERE user_id=#{userId}
		</update>
		
		<delete id="deleteUser">
			DELETE FROM user WHERE user_id=#{userId}
		</delete>
		
		<select id="findAllUser" resultMap="UserMap">
    		SELECT * FROM user
    	</select>
    	
    	<select id="findUserByUserId" parameterType="Integer" resultMap="UserMap">
    		SELECT *
    		FROM user
    		WHERE user_id = #{userId}
    	</select>
    	 
    	<!-- <select id="findUserByName" parameterType="String" resultType="User">
    		SELECT user_id userId,name,password,email,description,api_key apiKey,activation_status activationStatus,avatar,role
    		FROM user
    		WHERE name = #{name}
    	</select>
    	
		<update id="updateActivationStatus" parameterType="User">
			UPDATE user SET activation_status=1 WHERE api_key=#{apiKey}
		</update>
		
		<insert id="addUser" parameterType="User" useGeneratedKeys="true" keyProperty="user_id">
			INSERT INTO user(name,password,email,description,api_key,activation_status,avatar,role)
			VALUES(#{name},#{password},#{email},#{description},#{apiKey},0,'/resource/images/avatar-default.gif',2)
		</insert>
    	
    	<update id="updateUser" parameterType="User">
    		UPDATE user SET email=#{email},description=#{description},password=#{password} WHERE user_id=#{userId}
    	</update>
    	
    	<select id="findSenderBySenderId" parameterType="int" resultType="User">
    		SELECT name FROM user WHERE user_id = #{userId}
    	</select> -->

    </mapper>